* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #ECEDB0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAD8A4;
    height: 50px;
    padding: 1%;
}

.logo {
    height: 100%;
    padding: 8px 10px;
    border-radius: 12px;
}

.buttons button {
    background-color: #F68537;
    border-radius: 12px;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin: 10px;

}

.buttons a{
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: white;
    text-align: center;
}

.page {
    background-color: #feffda;
    gap: 20px;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 50px;
    height: 80vh;
    border-radius: 12px;
    margin-bottom: 70px;
}

.perfil {
    margin: 50px;
}

.foto-perfil img {
    border-radius: 20px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.foto-perfil {
    display: flex;
}

.foto-perfil h2 {
    margin-left: 50px;
    margin-top: 60px;
}

.informacoes-perfil {
    margin-top: 50px;
    font-size: 23px;
}

.informacoes-perfil p {
    font-size: 20px;
    margin-bottom: 8px;
}

.informacoes-perfil .title {
    font-size: 24px;
}




.logo {
    display: flex;
    align-items: center;
    gap: 10px;
      width: 225px;
    margin-left: 10px;
    border-radius: 12px;
    transition: font-size 0.3s ease-in-out;
}

.logo a{
    text-decoration: none;
    color: inherit;
}

.logo:hover{
font-size: 275px;
}

.buttons button {
    background-color: #F68537;
    border-radius: 12px;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin: 10px;
transition: background-color 0.3s ease-in-out;
}

.buttons button:hover{
    background-color: #d65f0a
}

.cards_container {
    display: flex;
    margin: 0 auto;
    max-width: 1040px;
    padding: 26px 20px;
    flex-wrap: wrap;
    row-gap: 30px;
    /* Define um espaço maior entre as linhas */
    column-gap: 30px;

}

.cards_container h3 {
    text-align: center;
}

.cards {
    border-radius: 16px;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #D6D85D;

}

.card_image {
    padding: 7px;
}


.custom-select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 16px;
    border: 1px solid gray;
    width: 99%;
    height: 40px;
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 10px;


}

.card_information {
    padding: 10px;
    margin-bottom: 10px;
}

.pesquisa {
    position: relative;
    display: inline-block;
    width: 95%;
    margin: 0 auto;
    display: block;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    pointer-events: none;
    color: #888;

}

.cards img {
    border-radius: 16px;
}

.popup_image {
    width: 100%;
}

footer {
    background-color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.add-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.add-container h1 {
    text-align: center;
    margin-top: 20px;
}

.form-informations {
    margin: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.form-group label {
    font-size: 20px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    border: none;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 18px;
}

.new-work {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border: none;
    padding: 16px;
    border-radius: 12px;
    width: 45%;
    background-color: #F68537;
    color: black;
    font-size: 20px;
}

.page-add{
    background-color: #fbfdba;
    gap: 20px;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 50px;
    height: 80vh;
    border-radius: 12px;
    margin-bottom: 70px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.main-image {
text-align: center;
}

.index-section {
    display: flex;
    gap: 200px;
    padding:20px
}

.index-section p{
    font-size: 24px;
    max-width: 800px;
    padding: 20px;
    margin-left: 50px;
}

.index-images{
    display: flex;
    gap: 30px;
}

.index-image{
     font-size:70px;
     border-radius: 10px;
    box-shadow: 0 0 2px 1px #00000080;
    }