{%extends 'layout.html'%}

{%block title%}
adicionar trabalho voluntario
{%endblock%}

{%block content%}
<h1>Adicinar trabalho</h1>

<form action="{{url_for('add_work')}}" method="POST">
    <label for="work_name">nome do trabalho</label>
    <input type="text" id="work_name" name="work_name" placeholder="Insira um nome para o seu trabalho">

    <label for="work_date">data do trabalho</label>
    <input type="date" id="work_date" name="work_date" placeholder="Insira a data do seu trabalho">

    <label for="work_description">descrição do trabalho</label>
    <textarea id="work_description" name="work_description" rows="5" placeholder="Insira uma descrição para o seu trabalho">
        </textarea>

        <label for="work_adress">endereço do trabalho</label>
    <input type="text" id="work_adress" name="work_adress" placeholder="Insira o local do seu trabalho">
<img class="image" src="{{url_for('static', filename='images/woman image.png')}}">

        <button type="submit" class="new-work">Enviar trabalho</button>
        </form>
        
{%endblock%}