{% extends "layout.html" %}

{% block content %}
<div class="page-add">
    <div class="add-container">
        <h1>Inscrição</h1>

        <div class="form-informations">
            <form action="{{ url_for('add_subscription') }}" method="POST">
                <div class="form-group">
                    <label for="work_name">Nome</label>
                    <input type="text" id="work_name" name="work_name" placeholder="Insira seu nome">
                </div>

                <div class="form-group">
                    <label for="work_date">CPF</label>
                    <input type="text" id="work_date" name="work_date" placeholder="000.000.000-00">
                </div>

                <div class="form-group">
                    <label for="work_adress">Endereço</label>
                    <input type="text" id="work_adress" name="work_adress" placeholder="Rua e bairro">
                </div>

                <div class="form-group">
                    <label for="work_adress">Email</label>
                    <input type="text" id="work_adress" name="work_adress" placeholder="...@gmail.com">
                </div>


                <button type="submit" class="new-work"><strong>INSCREVA-SE</strong></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}