{% extends 'layout.html' %}

{%block content%}
<div class="image-and-text">
    <img src="{{url_for('static',filename='images/Green Modern Marketing Logo.png')}}" alt="Imagem decorativa">
    <div class="index-text">
  <p>O projeto surgiu como uma iniciativa de jovens ajudando jovens a enriquecer seus currículos através de atividades sociais, e se você abriu essa página, é porque ele é perfeito pra você</p>

    </div>
    <img src="{{url_for('static',filename='images/logo.png')}}" alt="Imagem da logo" class="big-logo">
</div>

<div class="index-section">
    <p>Se você sonha em aplicar pra fora, fazer um intercâmbio, potencialiazar seu currículo ou se apenas gosta de ajudar, ou ainda se deseja trabalhadores voluntários para seu projeto ou empresa o Voluntar é pra você!</p>
<div class="index-images">
     <img src="{{url_for('static',filename='images/USA image.png')}}" alt="Imagem decorativa" class="index-image">
      <img src="{{url_for('static',filename='images/school image.png')}}" alt="Imagem decorativa" class="index-image">
        <img src="{{url_for('static',filename='images/womam image.png')}}" alt="Imagem decorativa" class="index-image">
</div>
</div>
{%endblock%}