<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{%block title%}Voluntar{%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }
    </style>

    {%block head%}
    {%endblock%}
</head>

<body>
    <header>
        <a href="{{url_for('show_index')}}">
        <img src="{{url_for('static',filename='images/logo.jpeg')}}" alt="logo icon" class="logo">
        </a>

        <nav>
            <div class="buttons">
                <a href="{{url_for('map')}}">
                <button>Ver Mapa</button>
                </a>
                 <a href="{{url_for('works')}}">
                <button>Trabalhos disponiveis</button>
                 </a>
                 <a href="{{url_for('add_work')}}">
                <button>Adicionar trabalho</button>
                </a>
            </div>
        </nav>
    </header>
    <main>
        {%block content%}
        {%endblock%}
    </main>


    <footer>
        <p>&copy; Todos os direitos reservados </p>
    </footer>
</body>

</html>